<div class="about-section">
    <h1 style="font-size: 24pt;">Welcome to JeanStation</h1>
    <p>Shop The Best Collection Here</p>
</div>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col mt-3">
                <h1 style="font-weight: bolder;">About Me</h1>
                <p>JeanStation is a fast fashion e-commerce company. The company mainly focuses on men's jeans, but it
                    also offers women's apparel and children's clothes JeanStation is currently in Canada but our next
                    target to open our store in Europe, America, Australia, and the Middle East along with other
                    consumer markets. We belives that fashion is part of life.</p>
                <p>The team travel globally to source the best new brands and have a love for denim. This fabric is
                    highly regarded due to the traditional process of weaving the denim on the original shuttle looms.
                    Work on these looms is a slower process, producing small quantities of fabric, but it creates an
                    imperfect and varied denim that lends a character not found on modern machines. Likewise, the
                    artisanal techniques used in the dying process produce a unique indigo finish. These traditional
                    techniques create the characteristic fades and creases which are unique to each wearer and much
                    sought after by denim fans.</p>
                <p>The Jean Store staff are denim enthusiasts, which gives them not only an in-depth knowledge of the
                    processes behind denim making, but also of how to care for your denim after purchase. They
                    understand how specific brands will fit and variations in brands sizing. Jean Store’s focus is to
                    source the best craftsmanship and most interesting denim brands for their customer.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1 style="font-weight: bolder;">Our Mission</h1>
                <p>JeanStation prides itself on offering on-trend styles catering to both young men and women, that won’t
                    break the bank. JeanStation is able to stay on top of the latest fashion trends from around the globe
                    while rapidly bringing these styles to market.JeanStation is the ultimate one-stop-shop for the modern
                    yet economical fashionista. It aims to promptly offer stylish quality products at appealing prices
                    to every user.</p>
            </div>
        </div>
    </div>
</section>

<div class="container space">
    <div class="row align-items-center projects">
        <div class="col">
            <h1 style="font-weight: bolder;">Our Team</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod aliquam corporis tempore nostrum. Animi rem quisquam deleniti qui ad ipsa quod! Animi corrupti, ex blanditiis dolor error nulla consectetur.</p> -->
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="https://th.bing.com/th/id/OIP.rEQAY7pR1HxJdcJZTgNagQHaH4?pid=ImgDet&rs=1" alt="..."
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Charles Sunny</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">charles.sunny@cgi.com</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://www.clipartmax.com/png/middle/5-55403_blank-avatar-profile-pic-icon-female.png"
                        alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hitarthi Gandhi</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">hitarthi.gandhi@cgi.com</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://th.bing.com/th/id/OIP.rEQAY7pR1HxJdcJZTgNagQHaH4?pid=ImgDet&rs=1" alt="..."
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mantra Suthar</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">mantra.suthar@cgi.com</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://th.bing.com/th/id/OIP.rEQAY7pR1HxJdcJZTgNagQHaH4?pid=ImgDet&rs=1" alt="..."
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Praveen Kumar</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">praveen.kumar@cgi.com</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://th.bing.com/th/id/OIP.rEQAY7pR1HxJdcJZTgNagQHaH4?pid=ImgDet&rs=1" alt="..."
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vineel Gannu</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">vineel.gannu@cgi.com</small></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End of Projects Section -->