<footer class="text-white" style="background-color: #f3f3f3;">

  <div class="container-fluid pt-2">
      <div class="row">
        <div class="col-lg-3 offset-lg-3 text-center">
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>


          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>


          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>


          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>


          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>

          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
        </div>
        
        <div class="col-lg-3 text-center mt-3">
          <a class="text-dark p-3" style="background-color: #f3f3f3;">
            © 2022 Copyright:
            <a class="text-dark" href="https://jeanstation.com/">JEAN STATION</a>
          </a>
        </div>
      </div>
  </div>
</footer>