.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
 
.title{
  font-size: 20pt;
  font-weight: bolder;
}

.margin-bottom {
  margin-bottom: 100px;
}

.container {
  margin-bottom: 8.5%;
}
