<div class="container">
    <div class="row margin-bottom">
        <div class="col-lg-3 mb-4 mt-3" *ngFor="let p of products; let i = index">
            <div class="card h-100" id="hov">
                <div class="card">
                    <div class="card-body">
                        <div id="carouselExampleControls{{i}}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item" [ngClass]="{'active': j == 0 }"
                                    *ngFor="let images of p.ProductImages; let j = index">
                                    <img src="{{images.productImageUrl}}" class="d-block w-100" alt="ProductImage"
                                        style="height: 400px; width: 350px;">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                attr.data-bs-target="#carouselExampleControls{{i}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                attr.data-bs-target="#carouselExampleControls{{i}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="mx-3 my-2 pointer">
                        <div class="row">
                            <h5 class="card-title" style="font-size: 12pt; font-weight: bold;">{{p.productName}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-default btn-lg" (click)="RemoveProductFromWishList(p.productId)">
                                <!-- <i class="fa-solid fa-heart"></i> -->
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-default btn-lg" (click)="cartService.AddProductToCart(p)"
                                *ngIf="IsProductNotInCart(p.productName)">
                                <i class="fa-solid fa-cart-plus"></i>
                            </a>
                            <a [class.linkDisabled]="true" class="btn btn-default btn-lg"
                                [class.toolbar-icon-disabled]="flgDisabled" (click)="cartService.AddProductToCart(p)"
                                *ngIf="!IsProductNotInCart(p.productName)">
                                <i class="fa-solid fa-cart-plus text-muted"></i>
                            </a>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5 pointer text-end mt-2">
                            <h3>
                                <p class="card-text">{{p.productPrice | currency:'CAD'}}</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>